<!-- <script>
  $(function () {
    var downBox = $('.down').hide();
    var mainBox = $('.main-2').hide();
    var s = $('#apps-arrow');
    touchStart = function (event) {
        event.preventDefault();
        $(this).addClass("touched");
    };
    s.ontouchstart = touchStart;
    $(s).bind("touchstart mousedown", function (e) {
      $(mainBox).show();
      $('html, body').animate({
      scrollTop: $('.main-2').offset().top
      }, 2000);
      $(downBox).show("slide", {direction: 'down'}, 4000);
      $(s).hide();
    });
  }); 
</script> -->

<!-- 
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <div id= "apps-arrow">
          <br/>
          <br/>
          <h1 class="bold">See Web Apps</h1>
          <i class="fa fa-arrow-circle-o-down fa-4x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="main-2 container-fluid">
  <h3 id="apps" class="text-center"><u>WEB APPLICATIONS</u></h3>
  <br/>
  <br/>
  <div class="row justify-content-around"> 
    <div class="col-sm-4 white-box down">
      <%= link_to 'http://www.otbbbq.com', class: 'text' do %>
        <br/>
        <h4><u>Catering Business</u></h4>
        <p>Full-Stack development using Javascript, AJAX, postgreSQL, and Ruby on Rails. Customers can create custom-orders and submit their entries for a quote.</p>
        <hr/>
        <br/>
        <br/>
        <%= image_tag "bbq.png",  class: 'img-fluid'%>
        <br/>
        <br/>
      <% end %>
    </div>
    <div class="col-sm-4 white-box down">
      <%= link_to 'https://chess-pushthepiece.herokuapp.com', class: 'text' do %>
        <br/>
        <h4><u>Chess Game - Agile Team Project</u></h4>
        <p>Worked with and Agile Software Development Team and built a chess application. Chess game features Ruby on Rails, postgreSQL, and JavaScript for moving pieces. Team communicated with tools like Trello, Slack, and GitHub pull requests</p>
        <hr/>
        <br/>
        <br/>
        <%= image_tag "chess.png",  class: 'img-fluid'%>
        <br/>
        <br/>
      <% end %>
    </div>
  </div>
  <br/>
  <div class="row justify-content-around"> 
    <div class="col-sm-4 white-box down">
      <%= link_to 'https://flixter-grethen-j.herokuapp.com', class: 'text' do %>
        <br/>
        <h4><u>Two-Sided Marketplace</u></h4>
        <p>A two-sided video-streaming marketplace platform that features credit card payment capabilities, user-role management, complex user interfaces, and advanced database relationships</p>
        <hr/>
        <br/>
        <br/>
        <%= image_tag "flixter.png",  class: 'img-fluid'%>
        <br/>
        <br/>
      <% end %>
    </div>
    <div class="col-sm-4 white-box down">
      <%= link_to 'https://todoster-g-joyce.herokuapp.com', class: 'text' do %>
        <br/>
        <h4><u>Single Page Todo Applications</u></h4>
        <p>This single-page to-do application features a fluid user interface that by using JavaScript allows users to rapidly add dynamic content</p>
        <hr/>
        <br/>
        <br/>
        <%= image_tag "todoster.png",  class: 'img-fluid'%>
        <br/>
        <br/>
      <% end %>
    </div>
  </div>
  <br/>
  <div class="row justify-content-around"> 
    <div class="col-sm-4 white-box down">
      <%= link_to 'https://nomster-gretchen-j.herokuapp.com', class: "text" do %>
        <br/>
        <h4><u>Nomster</u></h4>
        <p>A Yelp clone that integrates Google Maps API and includes features like user comments, star ratings, image uploading, and user authentification</p>
        <hr/>
        <br/>
        <br/>
        <%= image_tag "nomster.png",  class: 'img-fluid'%>
        <br/>
        <br/>
      <% end %>
    </div>
    <div class="col-sm-4 white-box down">
      <%= link_to 'https://grammable-g-joyce.herokuapp.com', class: 'text' do %>
        <br/>
        <h4><u>Test-Driven Development</u></h4>
        <p>An Instagram clone that was built using industry standard, test-driven development following numerous red/green refactor cycles</p>
        <hr/>
        <br/>
        <br/>
        <%= image_tag "grammable.png",  class: 'img-fluid'%>
        <br/>
        <br/>
      <% end %>
    </div>
  </div>
  <br/>
  <div class="row justify-content-around"> 
    <div class="col-sm-4 white-box down">
      <%= link_to 'https://streamline-l-fleser.herokuapp.com', class: 'text' do %>
        <br/>
        <h4><u>Accounting Business</u></h4>
        <p>Full-Stack development using postgreSQL, Ruby on Rails, and Bootstrap. Clients can submit a request for more information about the business.</p>
        <hr/>
        <br/>
        <br/>
        <%= image_tag "streamline.png",  class: 'img-fluid'%>
        <br/>
        <br/>
      <% end %>
    </div>
    <div class="col-sm-4 white-box down">
      <%= link_to 'https://splurty-gretchen-joyce.herokuapp.com', class: 'text' do %>
        <br/>
        <h4><u>Quote Generator</u></h4>
        <p>A data-based powered quote generator with a mobile-first design, using the Ruby on Rails framework, HTML, and CSS. Uses Git and Github for version control and launched on Heroku</p>
        <hr/>
        <br/>
        <br/>
        <%= image_tag "splurty.png",  class: 'img-fluid'%>
        <br/>
        <br/>
      <% end %>
    </div> 
  </div>
</div>


