<!-- <script>
  $(function () {
    var downBox = $('.down').hide();
    var mainBox = $('.main-2').hide();
    var s = $('#apps-arrow');
    touchStart = function (event) {
        event.preventDefault();
        $(this).addClass("touched");
    };
    s.ontouchstart = touchStart;
    $(s).bind("touchstart mousedown", function (e) {
      $(mainBox).show();
      $('html, body').animate({
      scrollTop: $('.main-2').offset().top
      }, 2000);
      $(downBox).show("slide", {direction: 'down'}, 4000);
      $(s).hide();
    });
  }); 
</script> -->

<!-- 
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <div id= "apps-arrow">
          <br/>
          <br/>
          <h1 class="bold">See Web Apps</h1>
          <i class="fa fa-arrow-circle-o-down fa-4x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="main-2 container-fluid">
  <br/>
  <h3 id="apps" class="text-center"><u>WEB APPLICATIONS</u></h3>
  <br/>
  <br/>
  <br/>
  <div class="col-sm-10 offset-sm-1">
    <h4><b>Client Applications</b></h4>
    <div class="white-box down">
      <%= link_to 'http://www.otbbbq.com', class: 'text' do %>
        <br/>
        <div class="row">
          <div class="col-2">
            <%= image_tag "bbq.png",  class: 'img-fluid'%>
          </div>
          <div class="col-10">
            <h4><u>Off the Bone BBQ</u></h4>
            <p>This custom website is for a catering business. Customers can review a menu, create their custom order, and submit it for a quote.</p>
            <p>Customers' information is held in a SQL database and can be retrieved for email blasts, newsletters, or any networking tool desired.</p>  
          </div>
        </div>
      <% end %>
    </div>
    <br/>
    <div class="white-box down">
      <%= link_to 'https://streamline-l-fleser.herokuapp.com', class: 'text' do %>
        <br/>
        <div class="row">
          <div class="col-2">
            <%= image_tag "streamline.png",  class: 'img-fluid'%>
          </div>
          <div class="col-10">
            <h4><u>Streamline Accounting</u></h4>
            <p>This custom website is for an accounting business. This design is simple and classic. It features information about Streamline and user input to request more information. This allows Streamline to keep clients' information in a SQL database for retrieval later for networking or any other need.</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br/>
  <br/>  
  <div class="col-sm-10 offset-sm-1">
    <h4><b>Games</b></h4>
    <div class="white-box down">
      <%= link_to 'https://chess-pushthepiece.herokuapp.com', class: 'text' do %>
        <br/>
        <div class="row">
          <div class="col-2">
            <%= image_tag "chess.png",  class: 'img-fluid'%>
          </div>
          <div class="col-10">
            <h4><u>Chess Game</u></h4>
            <p>This chess game was created through a group collaboration for a fun side project. Players sign up through the sign-in portal and can play as many simultaneous games as they desire. Once signed up, the first player will be matched with the next player that signs up to play. Go ahead, give it a try!</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br/>
  <br/>
  <div class="col-sm-10 offset-sm-1">
    <h4><b>Capabilities</b></h4>
    <div class="white-box down">
      <%= link_to 'https://flixter-grethen-j.herokuapp.com', class: 'text' do %>
        <br/>
        <div class="row">
          <div class="col-2">
            <%= image_tag "flixter.png",  class: 'img-fluid'%>
          </div>
          <div class="col-10">
            <h4><u>Two-Sided Marketplace (youtube clone)</u></h4>
            <p>A two-sided video-streaming marketplace platform that features credit card payment capabilities, user-role management, complex user interfaces, and advanced database relationships.</p>
          </div>
        </div>
      <% end %>
    </div>
    <br/>
    <div class="white-box down">
      <%= link_to 'https://todoster-g-joyce.herokuapp.com', class: 'text' do %>
        <br/>
        <div class="row">
          <div class="col-2">
            <%= image_tag "todoster.png",  class: 'img-fluid'%>
          </div>
          <div class="col-10">
            <h4><u>Single Page Todo Applications (Notes)</u></h4>
            <p>This single-page to-do application features a fluid user interface that allows users to rapidly add dynamic content.</p>
          </div>
        </div>
      <% end %>
    </div>
    <br/>
    <div class="white-box down">
      <%= link_to 'https://nomster-gretchen-j.herokuapp.com', class: 'text' do %>
        <br/>
        <div class="row">
          <div class="col-2">
            <%= image_tag "nomster.png",  class: 'img-fluid'%>
          </div>
          <div class="col-10">
            <h4><u>Nomster (Yelp clone)</u></h4>
            <p>A Yelp clone that integrates Google Maps API and includes features like user comments, star ratings, image uploading, and user authentification.</p>
          </div>
        </div>
      <% end %>
    </div>
    <br/>
    <div class="white-box down">
      <%= link_to 'https://grammable-g-joyce.herokuapp.com', class: 'text' do %>
        <br/>
        <div class="row">
          <div class="col-2">
            <%= image_tag "grammable.png",  class: 'img-fluid'%>
          </div>
          <div class="col-10">
            <h4><u>Grammable (Instagram clone)</u></h4>
            <p>An Instagram clone that was built using industry standard, test-driven development, which provides a systematic rapid check of a website's functionability. This is ideal for larger complex systems where checks and balances should be put in place.</p>
          </div>
        </div>
      <% end %>
    </div>
    <br/>
    <div class="white-box down">
      <%= link_to 'https://splurty-gretchen-joyce.herokuapp.com', class: 'text' do %>
        <br/>
        <div class="row">
          <div class="col-2">
            <%= image_tag "splurty.png",  class: 'img-fluid'%>
          </div>
          <div class="col-10">
            <h4><u>Quote Generator</u></h4>
            <p>A data-based powered quote generator with a mobile-first design. Users can input their own quotes and the quote generator randomizes the output to the page visitor. Give it a try!</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>


