<script>
  $(function () {
    var topBox = $('.top').hide();
    // var bottomBox = $('.bottom').hide();
    $('.main').click( function() {
      $(topBox).show("slide", { direction: "up" }, 6000) 
      $(bottomBox).show("slide", {direction: "down"}, 6000, function() {
        // animation complete
      });
    });
  });  
</script>
<div class="hero-2">
  <div class="col">
    <h1>hello</h1>
  </div>
  <div class="main container-fluid">
    <br/>
    <div class="row justify-content-around top">
      <div class="col-sm-4 white-box">
        <h4><u>Quote Generator</u></h4>
        <p>A data-based powered quote generator with a mobile-first design, using the Ruby on Rails framework, HTML, and CSS. Uses Git and Github for version control and launched on Heroku</p>
      </div>
      <div class="col-sm-4 white-box">
        <%= link_to 'https://splurty-gretchen-joyce.herokuapp.com' do %> 
          <%= image_tag "splurty.png",  class: 'img-fluid'%>
        <% end %> 
      </div>
    </div>
    <hr />
    <div class="row justify-content-around bottom">
      <div class="col-sm-4 white-box">
        <h4><u>Nomster</u></h4>
        <p>A Yelp clone that integrates Google Maps API and includes features like user comments, star ratings, image uploading, and user authentification</p>
      </div>
      <div class="col-sm-4 white-box">
        <%= link_to 'https://nomster-gretchen-j.herokuapp.com' do %> 
          <%= image_tag "nomster.png",  class: 'img-fluid'%>
        <% end %>
      </div>
    </div>
    <hr />
    <div class="row justify-content-around top">
      <div class="col-sm-4 white-box">
        <h4><u>Two-Sided Marketplace</u></h4>
        <p>A two-sided video-streaming marketplace platform that features credit card payment capabilities, user-role management, complex user interfaces, and advanced database relationships</p>
      </div>
      <div class="col-sm-4 white-box">
        <%= link_to 'https://flixter-grethen-j.herokuapp.com' do %> 
          <%= image_tag "flixter.png",  class: 'img-fluid'%>
        <% end %>
      </div>
    </div>
    <hr />
    <div class="row justify-content-around bottom">
      <div class="col-sm-4 white-box">
        <h4><u>Test Driven Development</u></h4>
        <p>An Instagram clone that was built using industry standard, test-driven development following numerous red/green refactor cycles</p>
      </div>
      <div class="col-sm-4 white-box">
        <%= link_to 'https://grammable-g-joyce.herokuapp.com' do %> 
          <%= image_tag "grammable.png",  class: 'img-fluid'%>
        <% end %>
      </div>
    </div>
    <hr />
    <div class="row justify-content-around bottom">
      <div class="col-sm-4 white-box">
        <h4>Single Page Todo Applications</h4><a href="https://todoster-g-joyce.herokuapp.com">
        <image src="todoster.png" class="full-width"/></a>
        <p>This single-page to-do application features a fluid user interface that by using JavaScript allows users to rapidly add dynamic content</p>
      </div>
      <div class="col-sm-4 white-box">
        <%= link_to 'https://todoster-g-joyce.herokuapp.com' do %>
          <%= image_tag "todoster.png",  class: 'img-fluid'%>
        <% end %>
      </div>
    </div>
    <hr />
    <div class="row justify-content-around bottom">
      <div class="col-sm-4 white-box">
        <h4><u>Chess Game - Agile Team Project</u></h4>
        <p>Working on an Agile software development team building a chess application. Under the guidance of a Senior Software Engineer, we have weekly Agile team meetings for code review, sprint planning, and feature assignments</p>
      </div>
      <div class="col-sm-4 white-box">
        <%= link_to 'https://chess-pushthepiece.herokuapp.com' do %>
          <%= image_tag "chess.png",  class: 'img-fluid'%>
        <% end %>
      </div>
    </div>
    <hr />
    <div class="row justify-content-around bottom">
      <div class="col-sm-4 white-box">
        <h4><u>Accounting Business</u></h4>
        <p>Full-Stack website development using postgreSQL, Bootrap</p>
      </div>
      <div class="col-sm-4 white-box">
        <%= link_to 'https://chess-pushthepiece.herokuapp.com' do %>
          <%= image_tag "chess.png",  class: 'img-fluid'%>
        <% end %>
      </div>
    </div>
    <hr />
    <div class="row justify-content-around bottom">
      <div class="col-sm-4 white-box">
        <h4><u>Catering Business</u></h4>
        <p>Back and Front End work using Javascript, postgreSQL, Ruby on Rails, Bootstrap.</p>
      </div>
      <div class="col-sm-4 white-box">
        <%= link_to 'https://chess-pushthepiece.herokuapp.com' do %>
          <%= image_tag "chess.png",  class: 'img-fluid'%>
        <% end %>
      </div>
    </div>
  </div> 
</div>
