<script>
  $(function () {
    var downBox = $('.down').hide();
    $(document).on('click', '#next-step-arrow', function(event) {
      $('html, body').animate({
      scrollTop: $('#apps').offset().top
      }, 2000);
      $(downBox).show("slide", {direction: 'down'}, 4000);
    });
  });  
</script>

<div class="hero-2">
  <br/>
  <br/>
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-8 offset-2 white-box">
        <div class="row">
          <h1 class="col-12">Portfolio</h1>
          <h4 class="col-12">Web applications created with some of the following tools:</h4>
          <br/>
          <br/>
        </div>
        <div class="row justify-content-around">
          <div class="col-md-8">
            <%= image_tag "skills.png", class: "icons2 img-fluid"%>
          </div>
        </div>
        <br/>
        <br/>
        <div class="row">
          <h4 class="col-12">Proficient in the following applications:</h4>
        </div>
        <div class="row justify-content-around">
          <div class="icons-box col-md-8 offset-md-2 text-center">
            <i class="fa fa-github fa-2x col-3" aria-hidden="true"></i>
            <i class="fa fa-trello fa-2x col-3" aria-hidden="true"></i>
            <i class="fa fa-slack fa-2x col-3" aria-hidden="true"></i>
            <br/>
          </div>
        </div>
      </div>
      <!-- <br/> -->
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <div id= "next-step-arrow">
          <br/>
          <br/>
          <h1>See Web Apps</h1>
          <i class="fa fa-arrow-circle-o-down fa-4x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main container-fluid">
  <br/>
  <br/>
  <h3 id="apps" class="text-center" "><u>Web Apps</u></h3>
  <br/>
  <br/>
  <div class="row justify-content-around"> 
    <div class="col-sm-4 white-box down">
      <%= link_to 'https://flixter-grethen-j.herokuapp.com', class: 'text' do %>
        <br/>
        <h4><u>Two-Sided Marketplace</u></h4>
        <p>A two-sided video-streaming marketplace platform that features credit card payment capabilities, user-role management, complex user interfaces, and advanced database relationships</p>
        <hr/>
        <br/>
        <br/>
        <%= image_tag "flixter.png",  class: 'img-fluid'%>
        <br/>
        <br/>
      <% end %>
    </div>
    
    <div class="col-sm-4 white-box down">
      <%= link_to 'https://chess-pushthepiece.herokuapp.com', class: 'text' do %>
        <br/>
        <h4><u>Chess Game - Agile Team Project</u></h4>
        <p>Working on an Agile software development team building a chess application. Under the guidance of a Senior Software Engineer, we have weekly Agile team meetings for code review, sprint planning, and feature assignments</p>
        <hr/>
        <br/>
        <br/>
        <%= image_tag "chess.png",  class: 'img-fluid'%>
        <br/>
        <br/>
      <% end %>
    </div>
  </div>
  <br/>
  <div class="row justify-content-around"> 
    <div class="col-sm-4 white-box down">
      <%= link_to 'https://grammable-g-joyce.herokuapp.com', class: 'text' do %>
        <br/>
        <h4><u>Test-Driven Development</u></h4>
        <p>An Instagram clone that was built using industry standard, test-driven development following numerous red/green refactor cycles</p>
        <hr/>
        <br/>
        <br/>
        <%= image_tag "grammable.png",  class: 'img-fluid'%>
        <br/>
        <br/>
      <% end %>
    </div>

    <div class="col-sm-4 white-box down">
      <%= link_to 'https://todoster-g-joyce.herokuapp.com', class: 'text' do %>
        <br/>
        <h4><u>Single Page Todo Applications</u></h4>
        <p>This single-page to-do application features a fluid user interface that by using JavaScript allows users to rapidly add dynamic content</p>
        <hr/>
        <br/>
        <br/>
        <%= image_tag "todoster.png",  class: 'img-fluid'%>
        <br/>
        <br/>
      <% end %>
    </div>
  </div>
  <br/>
  <div class="row justify-content-around"> 
    <div class="col-sm-4 white-box down">
      <%= link_to 'https://nomster-gretchen-j.herokuapp.com', class: "text" do %>
        <br/>
        <h4><u>Nomster</u></h4>
        <p>A Yelp clone that integrates Google Maps API and includes features like user comments, star ratings, image uploading, and user authentification</p>
        <hr/>
        <br/>
        <br/>
        <%= image_tag "nomster.png",  class: 'img-fluid'%>
        <br/>
        <br/>
      <% end %>
    </div>
 
    <div class="col-sm-4 white-box down">
      <%= link_to 'https://chess-pushthepiece.herokuapp.com', class: 'text' do %>
        <br/>
        <h4><u>Catering Business</u></h4>
        <p>Back and Front End work using Javascript, postgreSQL, Ruby on Rails, Bootstrap</p>
        <hr/>
        <br/>
        <br/>
        <%= image_tag "chess.png",  class: 'img-fluid'%>
        <br/>
        <br/>
      <% end %>
    </div>
  </div>
  <br />
  <div class="row justify-content-around"> 
    <div class="col-sm-4 white-box down">
      <%= link_to 'https://chess-pushthepiece.herokuapp.com', class: 'text' do %>
        <br/>
        <h4><u>Accounting Business</u></h4>
        <p>Full-Stack website development using postgreSQL, Bootstrap</p>
        <hr/>
        <br/>
        <br/>
        <%= image_tag "chess.png",  class: 'img-fluid'%>
        <br/>
        <br/>
      <% end %>
    </div>

    <div class="col-sm-4 white-box down">
      <%= link_to 'https://splurty-gretchen-joyce.herokuapp.com', class: 'text' do %>
        <br/>
        <h4><u>Quote Generator</u></h4>
        <p>A data-based powered quote generator with a mobile-first design, using the Ruby on Rails framework, HTML, and CSS. Uses Git and Github for version control and launched on Heroku</p>
        <hr/>
        <br/>
        <br/>
        <%= image_tag "splurty.png",  class: 'img-fluid'%>
        <br/>
        <br/>
      <% end %>
    </div> 
  </div>
  <br/>
  <br/>
</div>


