<!DOCTYPE html>
<html>
  <head>
    <title>ZigZag Designs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css"> -->
  </head>

  <body>
    <div id="flex-container">
      <nav class="navbar">
        <div class="row">
          <div class="col-md-10 align-self-center">
            <%= link_to 'ZigZag Designs', root_path, class: "h1" %>
          </div>
          <div class="col">
            <ul class="navbar-links">
              <li>
                <%= link_to "Portfolio", portfolio_path, class: "float-right" %>
              </li>
              <br />
              <li>
                <%= link_to "Code Samples", code_path, class: "float-right" %>
              </li>
               <br />
              <li>
                <%= link_to "Resume", resume_path, class: "float-right" %>
              </li>
          </div>
        </div>
      </nav>
      <div class="body-container">
        <% if notice.present? %>
          <p class="alert alert-info"><%= notice %></p>
        <%end%>
        <% if alert.present? %>
          <p class="alert alert-danger"><%= alert %></p>
        <%end%>
      </div>
      <%= yield %>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md text-center">
              <u>CONTACT</u>
              <div>
               <%= link_to "tel:+1-541-630-4720", class: 'phone' do%>
                <i class="fa fa-phone"></i>
                &nbsp;541-630-4720
              <% end %>
              </div>
            </div>
            <br/>
            <div class="col-md text-center">
              <u>MESSAGE</u>
                <div class='email' data-toggle="modal" data-target="#myContactModal">
                  <i class="fa fa-envelope"></i>&nbsp;&nbsp;Email
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

